@model PagedList.IPagedList<DeependAncestry.Models.Person>

@using PagedList.Mvc;

@{
    ViewBag.Title = "Basic Search Page";
}

<h2>Deepend Ancestry</h2>

@using (Html.BeginForm())
{
    <div class="container-fluid">
        <div class="form-inline">
            @Html.TextBox("SearchString", ViewBag.CurrentFilter as string, new { @class = "form-control" })
            <input type="submit" class="btn btn-default" value="Search" id="btnSubmit" />
        </div>
        <div class="form-inline">
            Gender: <label class="checkbox-inline">
                @Html.CheckBox("chkMale", ViewBag.GenderM == "M" ? true : false) Male
            </label>
            <label class="checkbox-inline">
                @Html.CheckBox("chkFemale", ViewBag.GenderF == "F" ? true : false) Female
            </label>
        </div>

        <table class="table">
            <tr>
                <th>
                    @Html.Label("ID")
                </th>
                <th>
                    @Html.Label("NAME")
                </th>
                <th>
                    @Html.Label("GENDER")
                </th>
                <th>
                    @Html.Label("BIRTHPLACE")
                </th>
            </tr>
            @if (@Model.Count != 0)
            {
                foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Id)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Gender)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Place)
                        </td>
                    </tr>
                }
            }
            else
            {
                <tr class="no-data">
                    <td colspan="4">No data</td>
                </tr>
            }
        </table>
        <br />
        @if (@Model.Count != 0)
        {
            <div id='Paging'>
                Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

                @Html.PagedListPager(Model, page => Url.Action("Index", new { page, searchString = ViewBag.CurrentFilter, gender = ViewBag.Gender }))
            </div>
        }
    </div>
}
